name: pre-commit

on:
  pull_request:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            clang

      - name: Set up Python  # Recommended way to install pre-commit (supposedly)
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Setup pre-commit
        run: pre-commit install

      - name: Run pre-commit
        run: pre-commit run --all-files
