name: pre-commit

on:
  pull_request:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            clang-18 \
            clang-format \
            clang-tidy \
            cppcheck

      - name: Build include-what-you-use
        run: |      
          sudo apt-get update
          sudo apt-get install -y \
            git \
            cmake \
            ninja-build \
            clang-18 \
            llvm-18-dev \
            libclang-18-dev
      
          git clone --depth=1 --branch llvm-18 \
            https://github.com/include-what-you-use/include-what-you-use.git
      
          cd include-what-you-use
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
          ninja -C build
          sudo ninja -C build install

            
      - name: Set up Python  # Recommended way to install pre-commit (supposedly)
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files
       
